---
title: About
---
<div class="content group">
  <h2> About this book/site</h2>

  <p> Hi, I am xdite. </p>
  <p>I am a well-known Rails developer in Taiwan, specialized in developing websites using cutting-edge technologies.</p>

  <p>I start using Rails since 2007, and using it to develop over 20+ websites.</p>

  <p>I am also a <a href="http://blog.xdite.net">well-known blogger</a> (5500 feedburn subscribers) in Taiwan ( Top 10 ), well-known conference speaker in Taiwan ( give over 20+ talks in Web Development / Rails / Blogging / SEO )</p>

  <p> Currently I am writing books about Rails techniques. Using my own publishing tools: <a href="http://logdown.org/">Logdown</a> ( Blog for Markdown) to write all of my books, and publish them by myself. </p> 

  <p><a href="/books/1-rails-101">Rails 101</a> is my first book, it's for Rails beginners. I used to build 3 professional Rails teams in my career, all use this book as internal turtorial. </p> 

  <p> If you want to know more about me, please check <a href="/pages/author">Author</a> page</p>
</div>