---
title: Author
---
<div class="content group">

  <h2> About xdite</h2>
  
  <p>I am a well-known Rails developer (5500 feedburnr subscribers) in Taiwan, specialized in developing websites using cutting-edge technologies.</p>
  
  <p>I start using Rails since 2007, and using it to develop over 20+ websites.</p>

  <p>I am also a well-known blogger in Taiwan ( Top 10 ), well-known conference speaker in Taiwan ( give over 20+ talks in Web Development / Rails / Blogging / SEO )</p>
  
  <h2> Specialties </h2>
  
    <ul> 
      <li> Ruby / Rails development </li>
      <li> Rails Training </li>
      <li> Website planning and development </li>
      <li> Large scale website performance tunning </li>
      <li> SEO </li>
      <li> Online Marketing </li>
      <li> Online Publishing </li>
    </ul>

  <p>Currently I lead a team operating <a href="http://www.techbang.com.tw">Techbang</a>. The biggest Technology News Portal in Taiwan. </p>

  <p>My Résumé is at <a href="http://www.linkedin.com/profile/view?id=47215094">LinkedIn</a>.</p>

  <h2>Used to work for </h2>
  
  <ul>
  <li><a href="http://htc.com">HTC</a> ( Largest smart phone company in Taiwan ) as Senior Manager</li>
  <li><a href="http://cmh.com.tw">Cite Publisher</a> ( Largest publisher group in Taiwan ) as Manager</li>
  <li><a href="http://www.pixnet.net">PIXNET</a> ( Second largest Blog Service Provider in Taiwan)  as Engineer</li>
  <li><a href="http://handlino.com">Handlino</a> ( Rails Studio ) as Engineer</li>
  </ul>
  
</div>