---
title: SEO for Rails
---
<!-- INTRO -->
<div class="intro group">
    <%= image_tag("seo-for-rails-cover.png", :class => "book" )%>
    
		<h2> SEO for Rails</h2>
    
    <p> coming soon </p>
  
</div>