<h2> About this book/site</h2>

<p> Hi, I am xdite. </p>
<p>I am a well-known Rails developer in Taiwan, specialized in developing websites using cutting-edge technologies.</p>

<p>I start using Rails since 2007, and using it to develop over 20+ websites.</p>

<p>I am also a <%= link_to("well-known blogger", "http://blog.xdite.net")%> (5500 feedburn subscribers) in Taiwan ( Top 10 ), well-known conference speaker in Taiwan ( give over 20+ talks in Web Development / Rails / Blogging / SEO )</p>

<p> Currently I am writing books about Rails techniques. Using my own publishing tools: <%= link_to("Logdown", "http://logdown.org/")%> ( Blog for Markdown) to write all of my books, and publish them by myself. </p> 

<p><%= link_to("Rails 101", "/books/1-rails-101") %> is my first book, it's for Rails beginners. I used to build 3 professional Rails teams in my career, all use this book as internal turtorial. </p> 

<p> If you want to know more about me, please check <%= link_to("Author", "/pages/author")%> page</p>

