
<p>
My e-mail is <%= image_tag("http://services.nexodyne.com/email/icon/x0aFsQ101u6esw%3D%3D/I%2BmMbTc%3D/R01haWw%3D/0/image.png")%>
<br><br>
twitter: <%= link_to(image_tag("http://labs.creazy.net/twignature/img/xdite.gif"), "http://twitter.com/xdite")%>

</p>