<table align="center">
  <tr>
    <td><%= image_tag("rails-101-cover.png", :width => 450)%></td>
  </tr>
  </tr>
    <td align="center">
      <!-- Start DigitalDeliveryApp.com button code -->
      <form action="http://transactions.digitaldeliveryapp.com/products/246/purchase" method="post"><input type="image" src="http://assets.digitaldeliveryapp.com/images/buttons/buy-now-green.png" border="0" name="submit"/></form>
      <!-- End DigitalDeliveryApp.com button code -->
    </td>
  </tr>
</table>