<div class="social">
    <a class="facebook" name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php" share_url="<%= root_url %>">分享</a>
</div>
<h1> 第一次學習 Rails 就上手 </h1>
<%= image_tag("rails-101-cover.png", :width => 400)%>

<!-- Start DigitalDeliveryApp.com button code -->
<form action="http://transactions.digitaldeliveryapp.com/products/246/purchase" method="post">
     <br> <p class="highlight"> Only $9.99 USD </p>
     <button class="custom">Buy Now!</button>
</form>


<!-- End DigitalDeliveryApp.com button code -->
