<% @page_title = "Rails 101 - Learn Rails in 7 days" %>

<div class="social">
    <a class="facebook" name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php" share_url="<%= root_url %>">分享</a>
</div>

<a href="http://twitter.com/share" class="twitter-share-button" data-text="Rails 101 - owning basic Rails in 7 days " data-count="vertical" data-via="logdownpress">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

<h1> Rails 101 - Learn Rails in 7 days </h1>
<div class="cover">
    <%= image_tag("logdown_001.png", :width => 400 )%>
</div>
<!-- Start DigitalDeliveryApp.com button code -->

<br> <p class="highlight"> Only $9.99 USD </p>

<div class="purchase">
  
  <!-- Start DigitalDeliveryApp.com button code -->
   <span> English </span><a href="http://transactions.digitaldeliveryapp.com/products/283/add_to_cart" onclick="addProductToCart(283); return false;" rel="nofollow" target="dda_cart"><button class="custom">Buy Now!</button></a>
  <!-- End DigitalDeliveryApp.com button code -->

</div>

<br/>
<div>

<div class="purchase">
  
  <!-- Start DigitalDeliveryApp.com button code -->
   <span> Chinese Version </span><a href="http://transactions.digitaldeliveryapp.com/products/246/add_to_cart" onclick="addProductToCart(246); return false;" rel="nofollow" target="dda_cart"><button class="custom">Buy Now!</button></a>
  <!-- End DigitalDeliveryApp.com button code -->
</div>


<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'rails101'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
     var disqus_identifier = 'rails-101-book';
    // var disqus_url = 'http://example.com/permalink-to-page.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
