<% @page_title = "Essential Rails Design Pattern for Beginners" %>

<div class="social">
    <a class="facebook" name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php" share_url="<%= root_url %>/books/3-essential-rails-pattern">分享</a>
</div>
<h1> Essential Rails Design Pattern for Beginners </h1>
<div class="cover">
    <%# image_tag("logdown_002.png", :width => 400 )%>
</div>
<!-- Start DigitalDeliveryApp.com button code -->

<br>
<h3>Ruby Conf Taiwan 2011 : <%# link_to("Essential Rails Design Pattern for Beginners", "http://essential-rails-pattern.heroku.com/")%> 
<%= link_to("Essential Rails Design Pattern for Beginners", "http://rubyconf.tw/2011/#15")%>    
</h3>

<p> 本書是我在 Ruby Conf Taiwan 2011 給的講題所整理而成。 </p>
<p>在開發 Rails 網站 時，Rails Developer 因為有著來自四面八方的背景，在不懂 Ruby / 不瞭解 Rails Way 的情況下，常常實作出一些詭異的設計，或者是對於某一些功能不知如何下手實作。本書將整理一些常見的 "AntiPattern"。整理出初學者有可能寫出的爛 code，並一一解釋這樣設計的失當之處。</p>
<p>再整理一些常見的 Rails Design Pattern 以及最佳實務，
包括分別在 Model / View / Controller 內應該正確的怎樣設計包裝 method，對於網站上一些常見的功能，如何善用 Rails 本身的 built-in feature 實作。提供維護日益龐大的代碼庫之常見整理技巧。 </p>
<!-- End DigitalDeliveryApp.com button code -->

<br> 原價 <del>$14.99 USD</del> <p class="highlight"> 預購價 $9.99 USD </p>

（預購此書贈送<%= link_to("限量版惡搞封面一張", "https://plus.google.com/101209878751809348566/posts") %> - 出版後就會更換封面了）
<br>
<br>
<div class="purchase">
    <form action="http://transactions.digitaldeliveryapp.com/products/435/purchase" method="post">
         <span> Chinese Version <button class="custom">Buy Now!</button> </span>
    </form>
</div>


<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'rails101'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
     var disqus_identifier = 'rails-101-book';
    // var disqus_url = 'http://example.com/permalink-to-page.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
