---
title: Contact
---

<div class="content group">
  
                <h2> Contact</h2>

    <ul>
    <li> <a href="http://gmail.google.com/">Gmail</a> / <a href="http://www.google.com/talk/intl/zh-TW/">Gtalk</a> <img src="http://services.nexodyne.com/email/icon/x0aFsQ101u6esw%3D%3D/I%2BmMbTc%3D/R01haWw%3D/0/image.png"></li>
    <li>Twitter : <a href="http://twitter.com/xdite">xdite</a>
    </li>
    <li><a href="http://feeds.feedburner.com/xxddite"><img src="http://feeds.feedburner.com/~fc/xxddite?bg=99CCFF&amp;fg=444444&amp;anim=1" height="26" width="88" style="border:0" alt=""></a></li>
    </ul>
</div>