<!-- TESTIMONIALS -->
<div class="testimonials group">
  <div class="money-back">
    <h2>My "Keep The Stuff" Money Back Guarantee</h2>
    <strong>I want you to be happy.</strong> 如果你有任何原因想退貨，都可以寫信給我，我會將書錢全額退給你。你可以將書和程式碼都留著沒有關係。:-))
  </div>
</div>
