
<!-- FINAL -->
<div class="final group">
	<h3>其他資訊</h3>
	<p>有任何問題，請在 <a href="http://bumblr.io/groups/26">Rails 101 專屬討論區</a> 上詢問。
	<p>
	  如果技術問題需要當面才能問清，我每週二晚上會參加 <a href="http://www.meetup.com/taipei-rails-meetup/">Rails Tuesday</a>。
	</p>
	<p><a href="http://xdite.wufoo.com/forms/ce-billing-support/" class="button">糾錯、補寄電子檔</a></p>
</div>