
<!-- FINAL -->
<div class="final group">
	<h3>其他資訊</h3>
	<p>有任何問題，歡迎在 Twitter 上敲我 <a href="http://twitter.com/xdite">@xdite</a> 或者是 email 到 xdite AT about.me。
	<p>
	  如果技術問題需要當面才能問清，我每週二、週三晚上會參加 <a href="http://twitter.com">Rails Tuesday</a> 和 <a href="http://rgba.tw">RGBA 網頁設計師聚會</a>，歡迎帶著你手上的問題來找我。 (請先 twitter 確認)
	</p>
	<p><a href="http://blog.xdite.net" class="button">More about me</a></p>
</div>