
<!-- FINAL -->
<div class="final group">
	<h3>其他資訊</h3>
	<p>有任何問題，歡迎在 Twitter 上敲我 <a href="http://twitter.com/xdite">@xdite</a>。
	<p>
	  如果技術問題需要當面才能問清，我每週二晚上會參加 <a href="http://www.meetup.com/taipei-rails-meetup/">Rails Tuesday</a>，歡迎帶著你手上的問題來找我。 (請先 twitter 確認)
	</p>
	<p><a href="http://xdite.wufoo.com/forms/ce-billing-support/" class="button">糾錯、補寄電子檔</a></p>
</div>