---
title: Essential Rails Design Patterns
---

<div class="intro group">
    <%= image_tag("special-cover-for-pattern.png", :class => "book" )%>
    
		<h2> Essential Rails Design Patterns</h2>
		<p>本書是我在 Ruby Conf Taiwan 2011 給的講題：「<a href="http://essential-rails-pattern.heroku.com/">Essential Rails Design Pattern for Beginners</a>」所整理而成。</p>
    <p>在開發 Rails 網站 時，Rails Developer 因為有著來自四面八方的背景，在不懂 Ruby / 不瞭解 Rails Way 的情況下，常常實作出一些詭異的設計，或者是對於某一些功能不知如何下手實作。</p>
    <p>
      本書將整理一些常見的 "AntiPattern"。整理出初學者有可能寫出的爛 code，並一一解釋這樣設計的失當之處。</p>
		
		<p>
		  再補充許多常見的 Rails Design Pattern 以及最佳實務。包括：<br><br>分別在 Model / View / Controller 內應該正確的怎樣設計包裝 method，對於網站上一些常見的功能，如何善用 Rails 本身的 built-in feature 實作。提供維護日益龐大的代碼庫之常見整理技巧。
		</p>
		
		<p>（預購此書<del>贈送<a href="https://plus.google.com/101209878751809348566/posts/jmg8iCzkUGz">限量版惡搞封面</a>一張</del> ） - 現已開始更新</p>
    <p>
      <del>原價 $19.99 USD</del><br>
      <strog style="color:#DA4205;">Early Access 價 $14.99 USD</strong>
    <p>
</div>

<!-- PRICE -->
<div class="price group">
  <a href="http://transactions.digitaldeliveryapp.com/products/435/add_to_cart" onclick="addProductToCart(435); return false;" rel="nofollow" target="dda_cart" class="button pdf">
    限時特惠<span>$14.99 USD</span>
  </a>
  預定內含 PDF 版本。
</div>

<%= partial "money_back"%>


<!-- FEATURES -->
<div class="features group">

	<div class="feature-box">
		<h2>What You'll Learn</h2>
		<p>你將從本書學到
		  <ul>
		    <li> 修正不好的程式寫作習慣</li>
		    <li> 學習正確的 Ruby Coding Style</li>
		    <li> 過往忽視的 Rails helper  </li>
		    <li> 正確的 MVC 觀念 </li>
		    <li> 診斷重構肥大的 MVC 程式碼 </li>
		    <li> 運用內建機制整理 Rails 程式碼 的技巧</li>
		    <li> 使用強大的第三方套件設計出更優雅效能更好的程式 </li>
		    
		  </ul>
		</p>
	</div>
	<div class="feature-box">
  <h3> 樣章 </h3>
  <p>線上<a href="https://www.dropbox.com/sh/ueha9xsjw6ybwye/JzNGR_VIr7/ERP-preview.pdf">預覽</a>。</p>
	</div>
  
	<div class="feature-box">
  <h3> 目錄 </h3>
    <p>線上<a href="https://www.dropbox.com/sh/5hytcw56xcr86zk/f_Racu5xw3/ERP-toc.pdf">預覽</a>。</p>
	</div>
  

</div>