
<div class="featurebox">
<h3>讀者見證</h3>
<p><strong>
    我也是看報才知道
</strong> by 掰噗</p>
</div>

<div class="featurebox">
<h3>Rails Tuesday</h3>
<p>
    每周二晚上七點半台北市行天宮站一號出口丹堤咖啡
</p>
</div>
<div class="featurebox">
<h3>本書目錄</h3>
<ul>
    <li> <%= link_to("Dropbox 預覽", "https://www.dropbox.com/s/r3r029ojozc7pc3/rails-101-TOC.pdf")%></li>
    <li> <%= link_to("大陸讀者從此進", "http://www.megaupload.com/?d=V932E7H6")%></li>
    <li> <%= link_to("台灣ATM購買從此進","http://www.pubu.com.tw/document/6109")%> </li>
</ul>
</div>