
<div class="featurebox">
<h3>Mollio v1.0 released</h3>
<p><strong>FarCry is more than an enterprise-class application.</strong> FarCry is an "out of the box" open source solution, a fully extensible application framework, and a commercially supported services model. </p>
</div>

<div class="featurebox">
<h3>New Features</h3>
<p>FarCry is more than an enterprise-class application. FarCry is an "out of the box" open source</p>
<ul>
<li><strong>Super fast</strong></li>
<li><strong>Standards compliant</strong></li>
<li><strong>Works out of the box</strong></li>
</ul>
</div>