
<ul id="nav-secondary">
<li class="first"><a href="#">Latinus Wordus</a></li>
<li><a href="#">Catsnamus Mitenus</a></li>
<li class="active"><a href="#">Beautus Weatherus</a>

	<ul>
	<li class="first"><a href="#">Letsgo Surfingus</a></li>
	<li><a href="#">Nothingo on tivio</a></li>
	<li class="active"><a href="#">Wanta a coffeo</a></li>
	<li class="last"><a href="#">Nothingo on tivio</a></li>
	</ul>
</li>
<li><a href="#">Bottomus Navigationus</a></li>
<li><a href="#">Gee my neckus issore</a></li>
<li class="last"><a href="#">Last buttus notleastus</a></li>
</ul>